*{
    margin: 0;
    padding: 0;
    border: 0;
}

#header{
    width: 100%;
    height: 50vh;
    background-image: url(../img/stock-photo-outdoors-storage-units-at-night-self-storage-facility-d-illustration-474833281.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation{
    width: 100%;
    height: 10vh;
    background-color: brown;
    position: sticky;
    top: 0;
}

#content{
    width: 100%;
    background-color: blanchedalmond;
    height: 1000px;
}

#footer{
    width: 100%;
    height: 20vh;
    background-color: cadetblue;
}