@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background-color: aliceblue;
}

#header{
    width: 100%;
    height: 50vh;
    background-image: url(../img/stock-photo-outdoors-storage-units-at-night-self-storage-facility-d-illustration-474833281.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation{
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

#content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#start-container{
    width: 90%;
    display: flex;
    flex-basis: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

#filters{
    background-color: chocolate;
    width: 20%;
    flex-basis: 20%;
}

#catalog{
    width: 70%;
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.start-client-card{
    width: 500px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;  
}

#footer{
    width: 100%;
}

/* Styling filters on catalog page. */

.control-group {
    display: inline-block;
    width: 200px;
    height: 210px;
    margin-top: 20px;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }

  .control {
    font-size: 14px;
    line-height: 24px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
  }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
  }
  
  .control--radio .control__indicator {
    border-radius: 50%;
  }

  /* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}